body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

button {
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}
